.accordion-body {
  padding: 24px;
}

.accordion-item {
  width: 100%;
  max-width: 1160px;
  margin: 0px auto;
  margin-bottom: 24px;
}

.accordion-button {
  font-size: 18px;
  font-weight: 700;
  font-family: Arial;
  line-height: 21.6px;
}

@media (max-width: 1200px) {
  .accordion-item {
    width: 90%;
  }

  .modal {
    width: 80%;
  }

  .modal input,
  .modal select {
    width: 90%;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .header .buttons {
    margin-top: 10px;
    justify-content: center;
    gap: 5px;
  }

  .accordion-item {
    width: 100%;
  }
}
